<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <meta charset="UTF-8">
    <title>Журнал навчання</title>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
    	{% endif %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>