{% extends "main/base.html" %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <p>Привіт, {{ user.username }}.</p>
        <div>
            <a href="{% url 'main:topics' %}">Список тем</a>
            <a href="{% url 'main:new_topic' %}">Додати тему</a>
            <a href="{% url 'users:logout' %}">Вихід</a>
        </div>
    {% else %}
        <div><a href="{% url 'users:login' %}">Вхід</a></div>
        <div><a href="{% url 'users:register' %}">Реєстрація</a></div>
    {% endif %}
</div>
{% endblock content %}