{% extends "main/base.html" %}

{% block content %}
<style>
        body {
            background-color: #f2f3f4;
        }
        .floating-button {
          text-decoration: none;
          display: inline-block;
          width: 140px;
          height: 45px;
          line-height: 45px;
          border-radius: 45px;
          margin: 10px 20px;
          font-family: 'Montserrat', sans-serif;
          font-size: 11px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 3px;
          font-weight: 600;
          color: #524f4e;
          background: white;
          box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
          transition: .3s;
        }
        .floating-button:hover {
          background: #2EE59D;
          box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
          color: white;
          transform: translateY(-7px);
        }
    </style>
    <ol>
        <h2 class="nav-link">{{ topic|linebreaks }}</h2>
            <div class="img-line">
                {% for new_photo in new_photos %}
                    <img src="{{ new_photo.image.url }}" height="200px" width="216px">
                {% empty %}
                    <p class="nav-link">Немає фото</p>
                {% endfor %}
            </div>
        <a class="floating-button" href="{% url 'main:new_photo' topic.id %}">Додати фото</a>
            <div class="img-line">
                {% for new_video in new_videos %}
                    <p class="nav-link">{{ new_video.title|linebreaks }}</p>
                    <video width="320" height="240" controls src="{{ new_video.video.url }}"></video>
                {% empty %}
                    <p class="nav-link">Немає відео</p>
                {% endfor %}
            </div>
            <p><a class="floating-button" href="{% url 'main:new_video' topic.id %}">Додати відео</a></p>
            <div class="img-line">
                {% for new_audio in new_audios %}
                    <p class="nav-link">{{ new_audio.title|linebreaks }}</p>
                    <audio controls src="{{ new_audio.audio.url }}"></audio>
                {% empty %}
                    <p class="nav-link">Немає аудіо</p>
                {% endfor %}
            </div>
            <p><a class="floating-button" href="{% url 'main:new_audio' topic.id %}">Додати аудіо</a></p>
            <div class="img-line">
                {% for new_file in new_files %}
                    <a class="nav-link" href="{{ new_file.file.url }}">{{ new_file.title|linebreaks }}</a>
                {% empty %}
                    <p class="nav-link">Немає файлів</p>
                {% endfor %}
            </div>
            <p><a class="floating-button" href="{% url 'main:new_file' topic.id %}">Додати файл</a></p>
                {% for entry in entries %}
                <div class="card mb-3">
                    <h4 class="card-header">
                        {{ entry.date_added|date:'M d, Y H:i' }}
                        <small><a class="floating-button" href="{% url 'main:edit_entry' entry.id %}">Змінити</a></small>
                    </h4>
                    <div class="card-body">
                        {{ entry.text|linebreaks }}
                    </div>
                </div>
            {% empty %}
                <p class="nav-link">Немає запису</p>
            {% endfor %}
        <p>
            <a class="floating-button" href="{% url 'main:new_entry' topic.id %}">Додати запис</a>
        </p>
            <a class="floating-button" href="{% url 'main:del_topic' topic.id %}">Видалити тему</a>
    </ol>
{% endblock content %}
